umap-learn
pyarrow
polars
duckdb
# jupysql currently installs a nuisance dep (ploomber-extension) by default
git+https://github.com/Duke-GCB/jupysql-utils.git@0.2.25.1
git+https://github.com/Duke-GCB/jupysql.git@0.10.12.1
# alternatively, fall back to legacy package (which should still work)
# ipython-sql
tqdm
huggingface_hub
transformers
datasets
oaklib
# coolbox requires matplotlib < 3.9.0
# due to accessing matplotlib.collections.BrokenBarHCollection
matplotlib<3.9.0
seaborn
coolbox
