name: Setup, configure, build and deploy Python plus R kernel container

on:
  workflow_call:
    inputs:
      registry:
        required: false
        type: string
        default: ghcr.io
      image_name:
        required: false
        type: string
        default: ${{ github.repository }}
      tf_version:
        required: false
        type: string
      base_tag:
        required: false
        type: string
        default: latest-py-tf${{ inputs.tf_version }}
      tag_suffix:
        required: false
        type: string
        default: -tf${{ inputs.tf_version }}
      tag_latest:
        required: false
        type: boolean
        default: false
      multiplatform:
        required: false
        type: boolean
        default: false

jobs:
  common-steps:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.image_name }}
          flavor: |
            suffix=${{ inputs.tag_suffix }},onlatest=${{ ! inputs.tag_latest }}
            latest=${{ inputs.tag_latest && inputs.tag_latest || 'auto' }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch && !inputs.tag_latest}}
            type=raw,value={{date 'YYYY'}},enable={{is_default_branch}}
            type=semver,pattern={{major}}.{{minor}}.{{patch}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
          labels: |
            org.opencontainers.image.description=Combines the Docker Stacks tensorflow-notebook, pytorch-notebook, and r-notebook containers plus jupytext and custom package additions.

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            BASE_TAG=${{ inputs.base_tag }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}